body {
    background-color: white;
 background: url(https://www.wallpaperbetter.com/wallpaper/400/515/788/kids-cute-background-free-hd-widescreen-s-1080P-wallpaper.jpg);
    text-align: center;
    font-size: larger;

}

h1 {
  
    
    text-align: center;
    font-size: 3cm;
    color: black;
    font-family: 'Rampart One', cur;

}

/*.logo{
    display:inline-block;
    margin-right:200px;
    width: 50;
    height: 50;
}*/
.navbar {
    margin: 0;
    text-align: center;
}

/*الصور اللي داخل الكاردز*/
.myImg {
    height: 200px;
    width: 100%;

}

.card {
    border-radius: 20px;
    margin: 20px;
    background-color: white;
    padding: auto;
    font-family: 'Lateef', cursive;
}

.card-img-top {
    border-top-left-radius: 20px;
    /*عشان يخلي لها انحناء من فوق*/
    border-top-right-radius: 20px;
}

.btn {
    border-radius: 20px;
    text-align: center;
    text-shadow: black;
    font-family: 'Scheherazade', serif;
    background-color: black;
    border: none;
}

.btn:hover {

    background: gold;
}

/*@media screen and(min-width:576px) {
    .card{
        border-radius: 20px;
        margin: 0px;
       background-color: white;
       padding: auto;
       font-family: 'Lateef', cursive;
    }
    
}*/
.GFG  {
    border-radius: 20px;
    text-align: center;
    text-shadow: black;
    color: white;
    font-family: 'Scheherazade', serif;
    background-color: black;
    border: none;
    padding: 5px 5px 5px 0.5em
}

.GFG:hover {
    background-color: gold;
}